#add-form {
  @include flexboxForm(column, absolute);
  width: 150px;
  height: 200px;
  background-color: $secondary-color;
  border: 1px solid rgb(11, 179, 81);
  padding: 20px;
  margin: auto auto;
  top: 50%;
  left: 5%;
}
.deleteAll{
  position: absolute;
  background-color: $secondary-color;
  color: rgb(7, 148, 153);
  border: 1px solid #c00000;
  padding: 20px;
  margin: auto auto;
  top: 80%;
  left: 5%;

}