/*##############################
Contents
1.sort container
2.current date container
3.task container
##############################*/

#main-content-container {
  font-size: 32px;
  width: 80vw;
  position: relative;
  color: rgb(255, 255, 255);
  overflow: hidden;
  .icon {
    width: 25px;
    height: 25px;
  }
}

#sort-container {
  @include flexbox(relative);
  color: $sort-color;
  left: 65vw;
  top: 15vh;
  width: 130px;
  font-size: 32px;
  .icon {
    width: 35px;
    height: 35px;
  }
}

#sort-container:hover {
  cursor: default;
  .icon {
    transform: scale(1.1);
  }
  h3 {
    color: white;
  }
}

#current-date-container {
  width: 240px;
  @include flexbox(relative);
  top: 14vh;
  left: 180px;
  h6 {
    color: $teritary-color;
    font-size: 20px;
    align-self: flex-end;
  }
}
#task-container {
  width: 200px;
  @include flexbox(relative);
  flex-direction: column;
  color: $task-color;
  bottom: -20vh;
  left: 100px;
  align-items: flex-start;
}

#add-task-container {
  @include flexbox(inherit);
  width: 100%;
  height: 100%;
  position: relative;
  // left: 20px;
}

#task-container:hover {
  cursor: pointer;
  .icon {
    transform: scale(1.1);
  }
  #task-icon-container {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}
@mixin circle($area, $pad) {
  border-radius: 50%;
  border: 3px solid $task-color;
  padding: 3px;
  width: $area;
  height: $area;
  padding: $pad;
}

#task-icon-container {
  @include circle(40px, 10px);
  opacity: 0;
  position: absolute;
  left: -0.2px;
  padding: 10px;
  transition: opacity 0.5s ease-in-out;
}
