@mixin circle($area, $pad, $circle-color) {
  border-radius: 50%;
  border: 3px solid $circle-color;
  width: $area;
  height: $area;
  padding: $pad;
}
@mixin flexbox($position: initial) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: $position;
}
@mixin flexboxForm($flex-direction: column, $pos: relative) {
  @include flexbox($pos);
  flex-direction: $flex-direction;
  align-items: initial;
}
@mixin area($width, $height) {
  width: $width;
  height: $height;
}
