@mixin circle($area, $pad) {
  border-radius: 50%;
  border: 3px solid $task-color;
  width: $area;
  height: $area;
  padding: $pad;
}
@mixin flexbox($position: initial) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: $position;
}
