.clock {
  fill: $logo-color;
}
.today-calendar {
  fill: $today-calendar-color;
}
.upcoming-calendar {
  fill: $upcoming-calendar-color;
}
.right,
.add,
.sort {
  fill: $sort-color;
}
.task {
  fill: $task-color;
}
