#todo-container {
  @include flexboxForm();
  width: 67vw;
  align-items: flex-start;
}

.todo {
  @include flexbox();
  font-size: 25px;
  justify-content: flex-start;
  width: 100%;
  overflow-wrap: break-word;
  color: white;
  border: 0px solid aliceblue;
  border-radius: 4px;
  padding: 15px;
  margin: 5px 0;
  position: relative;
}

.done {
  border: 1px solid #0bdc85;
  text-decoration: line-through;
  .checkSvg {
    opacity: 1;
  }
}

.todo:hover {
  background-color: #242a2c;
  .deleteSvg {
    opacity: 1;
  }
}

.circle {
  @include circle(30px, 2px, $sort-color);
  @include flexbox();
  margin: 0 13px;
  justify-content: center;
}
.circle:hover {
  .checkSvg {
    opacity: 1;
  }
}
.checkSvg {
  @include area(10px, 10px);
  opacity: 0;
  width: 16px;
  height: 16px;
}
.deleteSvg {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 25px;
  height: 22px;
  opacity: 0;
}
