$logo-color: #3ac124;
$today-calendar-color: #20e0d5;
$upcoming-calendar-color: #8a0fd6;
$primary-color: #1f1f1f;
$teritary-color: #3f6b68;
$secondary-color: #282828;
$task-color: #257ee5;
$sort-color: #727272;
