$logo-color:#3AC124;
$today-calendar-color:#20E0D5;
$upcoming-calendar-color:#8A0FD6;
$primary-color: #1F1F1F;
$teritary-color: #678080;
$secondary-color: #282828;
$task-color:#257ee5;
$sort-color:#727272;

