@import "variables";
@import "logo-container";
@import "reset";
@import 'navigation-container';
@import 'main-page-constants';

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
main {
  background-color: $primary-color;
  display: flex;
}
nav {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
  position: relative;
  padding-left: 30px;
}
