@import "mixins";
@import "variables";
@import "reset";
@import "navbar";
@import "main-page-containers";
@import "todo-container";
@import "main-page-forms";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
main {
  background-color: $primary-color;
  display: flex;
}

// svg-colors
.clock {
  fill: $logo-color;
}
.today-calendar {
  fill: $today-calendar-color;
}
.upcoming-calendar {
  fill: $upcoming-calendar-color;
}
.right,
.add,
.sort {
  fill: $sort-color;
}
.task {
  fill: $task-color;
}
